#about {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
#ayellow {
  color: #FFD000;
}
.fon2 {
  position: absolute;
}
.fon2 img:nth-of-type(1) {
  height: 100vh;
  background-size: cover;
  background-position: left;
  opacity: .5;
}
.grid_about {
  display: grid;
  width: 95.5vw;
  height: 40.6vw;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(13, 1fr);
  margin-top: 1vw;
}
.a1, .a2, .a3, .a4, .a5 {
  border: 3px solid #FFD000;
}
.a1 {
  grid-column: 1/3;
  grid-row: 1/13;
  border: 3px solid #FFD000;
}
.a2 {
  grid-column: 3/4;
  grid-row: 1/13;
  border-left: none;
}
.a3, .a4, .a5 {
  grid-row: 13/14;
  border-top: none;
}
.a4, .a5 {
  border-left: none;
}
.a1 img {
  width: 100%;
}
.a3, .a4, .a5, .a6 > a {
  /* font-size: 1.1vw; */
  display: grid;
  justify-items: center;
  align-items: center;
}
.podval_about {
  width: 95.5vw;
  display: flex;
  margin: 0 auto;
  margin-top: 3.9vw;
  margin-bottom: 2vw;
}
.ap1, .ap2, .ap3 {
  display: flex;
  border: 3px solid #FFD000;
  width: 31.8vw;
  height: 3.1vw;
  margin: 0 auto;
}
.ap2, .ap3 {
  border-left: none;
}








/*  */
