a, h1, h2, p {
  font-family: 'Ubuntu';
}
a{
  text-decoration: none;
  color: #000;
}
/* .menu {
  display: flex;
  background-color: #fff;
  height: 5vw;
  width: 100vw;
} */
.menu {
  display: flex;
  /* position: fixed; */
  background-color: #fff;
}
.menu a {
  position: fixed;
  top: 3vh;
  color: #000;
  font-size: 1.5vw;
}


div > p {
  margin: 0 auto;
}










/*  */
