#events {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  width: 277.4vw;
}
#ablue {
  color: #1B79E2;
}
.fon3 img:nth-of-type(1) {
  opacity: .5;
  position: absolute;
  height: 100vh;
  background-size: cover;
  background-position: left;
}
.posters {
  display: flex;
  width: 278vw;
  margin-left: .2vw;
  margin-right: 2vw;
}
.posters > a {
  display: flex;
  width: 28.6vw;
  height: 40.5vw;
  border: 3px solid #1B79E2;
  margin-top: 1vw;
  margin-left: 1.8vw;
}
.podval_events {
  width: 95.5vw;
  display: flex;
  position: fixed;
  margin-top: 3.1vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
}
.ep1, .ep2, .ep3 {
  display: flex;
  border: 3px solid #1B79E2;
  width: 31.8vw;
  height: 3.1vw;
  margin: 0 auto;
}
.ep2, .ep3 {
  border-left: none;
}























/*  */
