#p {
  overflow-x: hidden;
}
.fon6 {
  position: absolute;
}
.fon6 img:nth-of-type(1) {
  width: 100vw;
  opacity: .5;
}
.grid_product {
  display: grid;
  width: 95.5vw;
  height: 40.6vw;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(13, 1fr);
  margin-top: 1vw;
}
.p1, .p2, .p3 {
  border: 3px solid #2C884C;
}
.p1 {
  grid-column: 1/4;
  grid-row: 1/14;
  background: url(../images/s1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.p2 {
  grid-column: 4/7;
  grid-row: 1/13;
  border-left: none;
}
.p3 {
  grid-column: 4/7;
  grid-row: 13/14;
  border-top: none;
}
.p2, .p3 {
  border-left: none;
}
.p3 p{
  /* vertical-align: text-bottom; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.podval_product {
  width: 95.5vw;
  display: flex;
  margin: 0 auto;
  margin-top: 4.7vw;
  margin-bottom: 2vw;
}
.pp1, .pp2, .pp3 {
  display: flex;
  border: 3px solid #2C884C;
  width: 31.8vw;
  height: 3.1vw;
  margin: 0 auto;
}
.pp2, .pp3 {
  border-left: none;
}
.p2 h1 {
  display: flex;
  margin-top: 1.6vw;
  margin-left: 2vw;
}
.p2 p {
  display: inline-flex;
  margin-top: 1vw;
  margin-left: 2vw;
  /* width: 24vw; */
  /* line-height: 1.3vw; */
}
.p2 p:nth-of-type(2) {
  margin: 1vw 4vw auto 9.3vw;
  /* margin-top: 1vw;
  margin-left: 9.3vw; */
  width: 22vw;
}














/*  */
