@media only screen and (min-width: 1920px){
  h1 {
    font-size: 2vw;
  }
  p {
    font-size: 1.1vw;
  }
  .main a {
    font-size: 2.1vw;
  }
  div > p {
    margin-top: 0.9vw;
  }

  /* МЕНЮ */
  .menu a {
    top: 3vh;
    font-size: 2.1vw;
  }
  .menu {
    height: 5vw;
    width: 100vw;
  }
  .menu a:nth-of-type(1) {
    width: 5.6vw;
    height: 3.6vw;
    top: 1vh;
    left: 2.5vw;
  }
  .menu img:nth-of-type(1){
    width: 5.6vw;
    height: 3.6vw;
  }
  .menu a:nth-of-type(2) {
    right: 30.2vw;
  }
  .menu a:nth-of-type(3) {
    right: 14.3vw;
  }
  .menu a:nth-of-type(4) {
    right: 2vw;
  }

  /* О НАС */

  /* МЕРОПРИЯТИЯ */

  /* МАГАЗИН */
  .grid_shop {
    width: 95.6vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(40, 3.1vw);
    margin-top: 1vw;
  }
  .s1, .s3, .s5, .s8, .s15, .s18 { grid-column: 1/2; }
  .s1, .s2 { grid-row: 1/10; }
  .s2, .s4 { grid-column: 2/4; }
  .s5, .s6, .s7 { grid-row: 11/20; }
  .s11, .s12 { grid-row: 21/30; }
  .s11, .s13 { grid-column: 1/3; }
  .s15, .s16, .s17 { grid-row: 31/40; }

  .s3 div:nth-of-type(1) { margin-left: 2vw; }
  .s3 div:nth-of-type(2) {margin-left: 20.3vw; }
  .s4 div:nth-of-type(1) {margin-left: 2vw; }
  .s4 div:nth-of-type(2) {margin-left: 52.7vw; }
  .s8 div:nth-of-type(1) {margin-left: 2vw; }
  .s8 div:nth-of-type(2) {margin-left: 20.6vw; }
  .s9 div:nth-of-type(1) {margin-left: 2vw; }
  .s9 div:nth-of-type(2) {margin-left: 20.3vw; }
  .s10 div:nth-of-type(1) {margin-left: 2vw; }
  .s10 div:nth-of-type(2) {margin-left: 18.3vw; }
  .s13 div:nth-of-type(1) {margin-left: 2vw; }
  .s13 div:nth-of-type(2) {margin-left: 41.3vw; }
  .s14 div:nth-of-type(1) {margin-left: 2vw; }
  .s14 div:nth-of-type(2) {margin-left: 21.1vw; }
  .s18 div:nth-of-type(1) {margin-left: 2vw; }
  .s18 div:nth-of-type(2) {margin-left: 16.3vw; }
  .s19 div:nth-of-type(1) {margin-left: 2vw; }
  .s19 div:nth-of-type(2) {margin-left: 19.7vw; }
  .s20 div:nth-of-type(1) {margin-left: 2vw; }
  .s20 div:nth-of-type(2) {margin-left: 20.6vw; }

  .podval_shop {
    width: 95.5vw;
    margin-top: 3.1vw;
    margin-bottom: 2vw;
  }
  .sp1, .sp2, .sp3 {
    width: 31.8vw;
    height: 3.1vw;
  }



}
@media only screen and (min-width: 1024px) and (max-width: 1919px){
  h1 {
    font-size: 2.7vw;
  }
  p {
    font-size: 1.5vw;
  }
  .main a {
    font-size: 2.1vw;
  }
  div > p { margin-top: 0.6vw; }

  /* МЕНЮ */
  .menu a {
    top: 3vh;
    font-size: 2vw;
  }
  .menu { height: 5vw; width: 100vw; }
  .menu a:nth-of-type(1) {
    width: 7.6vw;
    height: 5.6vw;
    top: 0.3vh;
    left: 1.7vw;
  }
  .menu img:nth-of-type(1){ width: 7.6vw; height: 5.6vw; }
  .menu a:nth-of-type(2) { right: 45.2vw; }
  .menu a:nth-of-type(3) { right: 21.3vw; }
  .menu a:nth-of-type(4) { right: 2.3vw; }

  /* О НАС */

  /* МЕРОПРИЯТИЯ */

  /* МАГАЗИН */
  .grid_shop {
    width: 95.6vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(40, 3.1vw);
    margin-top: 2vw;
  }
  .s1, .s3, .s5, .s8, .s15, .s18 { grid-column: 1/2; }
  .s1, .s2 { grid-row: 1/10; }
  .s2, .s4 { grid-column: 2/4; }
  .s5, .s6, .s7 { grid-row: 11/20; }
  .s11, .s12 { grid-row: 21/30; }
  .s11, .s13 { grid-column: 1/3; }
  .s15, .s16, .s17 { grid-row: 31/40; }

  .s3 div:nth-of-type(1) { margin-left: 1vw; }
  .s3 div:nth-of-type(2) { margin-left: 19.3vw; }
  .s4 div:nth-of-type(1) { margin-left: 1vw; }
  .s4 div:nth-of-type(2) { margin-left: 51.7vw; }
  .s8 div:nth-of-type(1) { margin-left: 1vw; }
  .s8 div:nth-of-type(2) { margin-left: 19.6vw; }
  .s9 div:nth-of-type(1) { margin-left: 1vw; }
  .s9 div:nth-of-type(2) { margin-left: 19.3vw; }
  .s10 div:nth-of-type(1) { margin-left: 1vw; }
  .s10 div:nth-of-type(2) { margin-left: 17.3vw; }
  .s13 div:nth-of-type(1) { margin-left: 1vw; }
  .s13 div:nth-of-type(2) { margin-left: 40.3vw; }
  .s14 div:nth-of-type(1) { margin-left: 1vw; }
  .s14 div:nth-of-type(2) { margin-left: 20.1vw; }
  .s18 div:nth-of-type(1) { margin-left: 1vw; }
  .s18 div:nth-of-type(2) { margin-left: 14.3vw; }
  .s19 div:nth-of-type(1) { margin-left: 1vw; }
  .s19 div:nth-of-type(2) { margin-left: 18.7vw; }
  .s20 div:nth-of-type(1) { margin-left: 1vw; }
  .s20 div:nth-of-type(2) { margin-left: 19.6vw; }

  .podval_shop {
    width: 95.5vw;
    margin-top: 3.1vw;
    margin-bottom: 2vw;
  }
  .sp1, .sp2, .sp3 {
    width: 31.8vw;
    height: 2.8vw;
  }


}
@media only screen and (min-width: 834px) and (max-width: 1023px){
  h1 {
    font-size: 4.2vw;
  }
  p {
    font-size: 2.2vw;
  }
  .main a {
    font-size: 2.9vw;
  }
  div > p { margin-top: 1.5vw; }

  /* МЕНЮ */
  .menu a {
    top: 3.5vh;
    font-size: 3.1vw;
  }
  .menu { height: 10vw; width: 100vw; }
  .menu a:nth-of-type(1) {
    width: 7.6vw;
    height: 5.6vw;
    top: 0.3vh;
    left: 1.7vw;
  }
  .menu img:nth-of-type(1){ width: 12.6vw; height: 7.6vw; }
  .menu a:nth-of-type(2) { right: 58.2vw; }
  .menu a:nth-of-type(3) { right: 26.3vw; }
  .menu a:nth-of-type(4) { right: 2.8vw; }



  /* О НАС */

  /* МЕРОПРИЯТИЯ */

  /* МАГАЗИН */
  .grid_shop {
    width: 95.2vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(24, 5.5vw);
    margin-top: 1vw;
  }
  .s1, .s3, .s5, .s8, .s15, .s18 { grid-column: 1/2;}
  .s1, .s2 { grid-row: 1/6;}
  .s2, .s4 { grid-column: 2/4;}
  .s5, .s6, .s7 { grid-row: 7/12;}
  .s11, .s12 { grid-row: 13/18;}
  .s11, .s13 { grid-column: 1/3;}
  .s15, .s16, .s17 { grid-row: 19/24;}

  .s3 div:nth-of-type(1) { margin-left: 2vw; }
  .s3 div:nth-of-type(2) {margin-left: 12.5vw; }
  .s4 div:nth-of-type(1) {margin-left: 2vw; }
  .s4 div:nth-of-type(2) {margin-left: 45vw; }
  .s8 div:nth-of-type(1) {margin-left: 2vw; }
  .s8 div:nth-of-type(2) {margin-left: 13.1vw; }
  .s9 div:nth-of-type(1) {margin-left: 2vw; }
  .s9 div:nth-of-type(2) {margin-left: 12.8vw; }
  .s10 div:nth-of-type(1) {margin-left: 2vw; }
  .s10 div:nth-of-type(2) {margin-left: 8.7vw; }
  .s13 div:nth-of-type(1) {margin-left: 2vw; }
  .s13 div:nth-of-type(2) {margin-left: 23vw; }
  .s14 div:nth-of-type(1) {margin-left: 2vw; }
  .s14 div:nth-of-type(2) {margin-left: 14.3vw; }
  .s18 div:nth-of-type(1) {margin-left: 2vw; }
  .s18 div:nth-of-type(2) {margin-left: 5vw; }
  .s19 div:nth-of-type(1) {margin-left: 2vw; }
  .s19 div:nth-of-type(2) {margin-left: 11.7vw; }
  .s20 div:nth-of-type(1) {margin-left: 2vw; }
  .s20 div:nth-of-type(2) {margin-left: 13.1vw; }

  .podval_shop {
    width: 95.5vw;
    margin-top: 5.5vw;
    margin-bottom: 4.5vw;
  }
  .sp1, .sp2, .sp3 {
    width: 31.8vw;
    height: 5.5vw;
  }


}
@media only screen and (min-width: 320px) and (max-width: 833px){
  h1 {
    font-size: 7.5vw;
  }
  p {
    font-size: 4.4vw;
  }
  .main a {
    font-size: 5.6vw;
  }

  /* О НАС */

  /* МЕРОПРИЯТИЯ */

  /* МАГАЗИН */


}
