@media only screen and (min-width: 1920px){
  h1 {
    font-size: 2vw;
  }
  p {
    font-size: 1.1vw;
  }
  .main a {
    font-size: 2.1vw;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1919px){
  h1 {
    font-size: 2.7vw;
  }
  p {
    font-size: 1.5vw;
  }
  .main a {
    font-size: 1.56vw;
  }
}
@media only screen and (min-width: 834px) and (max-width: 1023px){}
@media only screen and (min-width: 320px) and (max-width: 833px){}
